---
layout: page2
title: projects
comments: false
permalink: /projects/
---
<div class="row projects">
    <div class="col-md-12">
        <div class="col-md-4">
            &nbsp;
        </div>
        <div class="col-md-8">
            <div class="projects-container">
                <table id="projects" class="table table-hover">
                    <tbody>
                        {% for project in site.data.projects %}
                        <tr>
                            <td>
                                {{ project.name }}<br />
                                {% if project.file_types contains "php" %}
                                <img src="/imgs/icons/icon-21-file-php.svg" class="icon icon-html fa-white" aria-hidden="true"></img>
                                {% endif %}

                                {% if project.file_types contains "html" %}
                                <img src="/imgs/icons/icon-11-file-html.svg" class="icon icon-html fa-white" aria-hidden="true"></img>
                                {% endif %}
                            </td>
                            <td>
                                {% if project.type == "site" %}
                                <a href="{{ project.url }}" target="_blank"><i class="fa fa-white fa-external-link" aria-hidden="true"></i></a>
                                {% endif %}

                                {% if project.github_url %}
                                <a href="http://github.com/{{ site.github_username }}/{{ project.github_url }}" target="_blank"><i class="fa fa-white fa-github" aria-hidden="true"></i></a>
                                {% endif %}
                                <br />
                                {{ project.year }}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
