<div class="mastfoot">
    <div class="inner">
        <p><a href="/" title="techmunchies">{{ site.title }} <img src="/imgs/logo.png" alt="Site Logo"> {{ site.description }}</a><br />
        {% if site.gitlab_username %}{% include icon-gitlab.html username=site.gitlab_username %}{% endif %} • {% if site.twitter_username %}{% include icon-twitter.html username=site.twitter_username %}{% endif %} • <a href="./feed.xml"><i class="fa fa-rss fa-white" aria-hidden="true"></i> rss feed</a></p>
    </div>
</div>
