<div class="masthead clearfix">
    <div class="inner">
        <a class="masthead-brand" href="{{ site.baseurl }}/" title="techmunchies"><img src="/imgs/logo.png" alt="Site Logo"> techmunchies</a>

        <nav class="nav nav-masthead">
            {% for my_page in site.pages %}
            {% if my_page.title %}
            {% if my_page.url == page.url %}
            <a class="nav-link active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% elsif my_page.url == page.stub %}
            <a class="nav-link active" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% else %}
            <a class="nav-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
            {% endif %}
            {% endfor %}
        </nav>
    </div>
</div>
